
.top-bar{
    width: available;
    height: 80px;
    background: #ffffff;
    box-shadow: 1px 1px 2px darkgray;
}

.content{

}
.bookly-home{
    font-size: 32px;
}
nav{
    font-size: 18px;
}
.right{
    margin-right: 0;

}
.signup, .signin{
    color: white;
    margin-right: 0;
    text-align: right;
}
.central-grid{
    margin-left: 14.479%;
    margin-right: 14.479%;
    padding-top: initial;
    height: available;
    box-sizing: border-box;
}

.tex-{
    width: 750px;
    height: 120px;
    text-align: right;
    color: whitesmoke;
    font-family: Poppins, Serif;
}

h1{
    margin: 0;
    padding: 0;
}
